{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "syntax-jsx",
    "syntax-object-rest-spread",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-react-display-name",
    ["transform-react-jsx", {
      "pragma": "Glamor.createElement"
    }],
    "glamor/babel"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    }
  }
}
