{
  "extends": "airbnb",
  "parser": "babel-eslint",

  "plugins": [
    "react"
  ],

  "rules": {
    "react/forbid-prop-types": ["off"],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/jsx-wrap-multilines": ["error"],
    "react/prefer-es6-class": ["off"],
    "react/no-children-prop": "off",

    "react/require-default-props": ["off"],
    "react/prop-types": [1, {
      ignore: ["children", "style", "className", "match"]
    }]
  }
}
