{
  "extends": "airbnb",
  "parser": "babel-eslint",

  "plugins": [
    "react"
  ],

  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "react/forbid-prop-types": ["off"],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/jsx-max-props-per-line": ["error", { "when": "multiline" }],
    "react/jsx-wrap-multilines": ["error"],
    "react/no-children-prop": "off",
    "react/prefer-es6-class": ["off"],
    "react/require-default-props": ["off"],
    "react/prop-types": [1, {
      ignore: ["children", "style", "className", "match"]
    }]
  }
}
