{
  "extends": "airbnb",
  "parser": "babel-eslint",

  "plugins": [
    "react",
    "jest"
  ],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "arrow-parens": [2, "as-needed"],
    "react/forbid-prop-types": [0],
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "react/jsx-max-props-per-line": [2, { "when": "multiline" }],
    "react/jsx-wrap-multilines": [2],
    "react/no-children-prop": [0],
    "react/prefer-es6-class": [0],
    "react/require-default-props": [0],
    "react/prop-types": [1, {
      ignore: ["children", "style", "className", "match"]
    }]
  }
}
